---
import NavDrawer from "~/components/nav-drawer/NavDrawer.astro";
import PagefindSearch from "~/components/pagefind-search/PagefindSearch.astro";

import Logo from "./Logo.astro";
import SiteHierarchy, { siteHierarchy } from "./SiteHierarchy.astro";

type Props = {
  addGradient: boolean;
  hasBackdrop: boolean;
  hideLogo: boolean;
};

const { addGradient, hasBackdrop, hideLogo } = Astro.props;
---

<header
  class:list={[
    `
      group z-nav flex w-full items-center justify-between px-container py-4
      text-(--mast-color)
      tablet:py-6
      laptop:inset-x-0 laptop:flex-row laptop:flex-wrap laptop:px-16 laptop:py-8
      laptop:text-left
    `,
    hasBackdrop
      ? `absolute [--mast-color:#fff]`
      : `static [--mast-color:var(--color-default)]`,
  ]}
>
  {hideLogo ? <div /> : <Logo dropShadow={hasBackdrop} />}
  <div class="flex items-center">
    <nav
      class={`
        hidden w-full
        laptop:block laptop:w-auto
      `}
    >
      <ul class={`flex flex-wrap justify-start gap-x-6 text-xl`}>
        {
          siteHierarchy.map((page) => {
            return (
              <li
                class:list={[
                  `
                    relative block leading-10 tracking-serif-wide
                    whitespace-nowrap
                  `,
                  addGradient &&
                    `
                      after:absolute after:top-0 after:left-0 after:size-full
                      after:bg-[rgba(0,0,0,.9)] after:blur-3xl
                    `,
                ]}
              >
                <a
                  class:list={[
                    `
                      relative z-above block text-inherit transition-all
                      duration-500
                      after:absolute after:bottom-1 after:left-0 after:h-px
                      after:w-full after:origin-center after:scale-x-0
                      after:bg-accent after:transition-transform
                      after:duration-500
                      hover:text-accent
                      hover:after:scale-x-100
                    `,
                    hasBackdrop &&
                      `
                        [text-shadow:1px_1px_2px_rgba(0,0,0,.55)]
                        hover:text-shadow-none
                      `,
                  ]}
                  href={page.href}
                >
                  {page.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <PagefindSearch dropShadow={hasBackdrop} isGlobal={true} />
    <NavDrawer dropShadow={hasBackdrop}>
      <SiteHierarchy />
    </NavDrawer>
  </div>
</header>
