---
import type { CollectionEntry } from "astro:content";

import { getEntry } from "astro:content";

import Grade from "~/components/grade/Grade.astro";
import RenderedMarkdown from "~/components/rendered-markdown/RenderedMarkdown.astro";
import Still from "~/components/still/Still.astro";
import { toDisplayDate } from "~/utils/toDisplayDate";

export const StillImageConfig = {
  height: 360,
  sizes:
    "(min-width: 1800px) 481px, (min-width: 1280px) calc(26vw + 18px), (min-width: 780px) calc(47.08vw - 46px), 83.91vw",
  width: 640,
};

type Props = {
  hasDate: boolean;
  value: CollectionEntry<"reviewedTitles">["data"];
};

const { hasDate, value } = Astro.props;
const { data: review } = await getEntry(value.review);
---

<li
  class={`
    group/card relative mb-1 w-(--card-width) transform-gpu bg-default
    transition-transform duration-500
    tablet:mb-0
    tablet-landscape:has-[a:hover]:-translate-y-2
    tablet-landscape:has-[a:hover]:drop-shadow-2xl
  `}
>
  <div
    class={`
      relative mb-6 block overflow-hidden
      after:absolute after:top-0 after:left-0 after:aspect-video after:size-full
      after:bg-default after:opacity-(--still-opacity,15%) after:duration-500
      group-has-[a:hover]/card:after:opacity-0
      tablet:after:inset-x-0 tablet:after:top-0
    `}
  >
    <Still
      class={`
        h-auto w-full transform-gpu transition-transform duration-500
        group-has-[a:hover]/card:scale-110
      `}
      decoding="async"
      imageConfig={StillImageConfig}
      loading="lazy"
      slug={review.slug}
    />
  </div>
  <div
    class={`
      flex grow flex-col px-1 pb-8
      tablet:px-[8%]
      laptop:pr-[10%] laptop:pl-[8.5%]
    `}
  >
    {
      hasDate && (
        <div
          class={`
            mb-3 font-sans text-xs/4 font-normal tracking-wider text-subtle
            uppercase
            laptop:tracking-wide
          `}
        >
          {toDisplayDate(review.date)}
        </div>
      )
    }
    <a
      class={`
        block font-medium transition-all duration-500
        after:absolute after:top-0 after:left-0 after:z-sticky after:size-full
        hover:text-accent
      `}
      href={`/reviews/${review.slug}/`}
    >
      {value.title}&nbsp;<span
        class={`text-sm leading-none font-normal text-muted`}
      >
        {value.releaseYear}
      </span>
    </a>
    <Grade
      class={`
        mb-5
        tablet:mb-8
      `}
      height={24}
      value={review.grade}
    />
    <RenderedMarkdown
      class={`leading-normal mb-6 text-lg tracking-prose text-muted`}
      text={review.excerptHtml}
    />
    <div
      class={`
        mt-auto font-sans text-xs/4 tracking-wider text-subtle
        laptop:tracking-wide
      `}
    >
      {value.genres.join(", ")}
    </div>
  </div>
</li>
